{% extends 'AppCoder/base.html' %}

{% block title %}Crear Cuenta{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card card-custom p-4">
            <h2 class="text-center mb-4">Registro de Usuario</h2>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary w-100 mt-3">Registrarme</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}