{% extends 'AppCoder/base.html' %}

{% block title %}Agregar Curso{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow border-0">
                <div class="card-header bg-primary text-white text-center py-3">
                    <h4 class="mb-0">Registrar Nuevo Curso</h4>
                </div>
                <div class="card-body p-4">
                    <form action="" method="POST">
                        {% csrf_token %}
                        
                        <div class="mb-4">
                            {{ miFormulario.as_p }}
                        </div>
                        
                        <button type="submit" class="btn btn-success w-100 btn-lg shadow-sm">Guardar Curso en Base de Datos</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}